{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
<span class="contact-list-title">
  {{ site.data.academic_i18n.links[plang] }}
</span>
<ul class="contact-list {{ include.class }}">
<link rel="stylesheet" href="/fonts/css/academicons.min.css"/>

	


  <li><a href="https://scholar.google.it/citations?user=-DX5zyUAAAAJ&hl"><i class="ai ai-google-scholar-square ai-sm" style="color:#3F3F3F;font-size:19px;vertical-align: middle;"></i> Google Scholar</a></li>
 

   
  <li><a href="https://www.linkedin.com/in/alessandrogiuseppi/"><i class="fab fa-linkedin" style="color:#3F3F3F;font-size:19px;vertical-align: middle;"></i> LinkedIn </a></li>
	
  <li><a href="https://www.scopus.com/authid/detail.uri?authorId=56951042400"><i class="ai ai-scopus-square ai-sm" style="color:#3F3F3F;font-size:19px;vertical-align: middle;"></i> Scopus </a></li>
  	
	
  <li><a href="https://orcid.org/0000-0001-5503-8506"><i class="ai ai-orcid-square ai-sm" style="color:#3F3F3F;font-size:19px;vertical-align: middle;"></i> ORCID</a></li>
  


  

  

</ul>
